<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg" class="img-fluid" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">4 queijos</h5>
                        <p class="card-text">
                            Mussarela, provolone, parmesão e catupiry da casa
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">38,90 R$</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col ">
                <div class="card ">
                    <div class="bg-image hover-overlay ripple " data-mdb-ripple-color="light ">
                        <img src="https://mdbootstrap.com/img/new/standard/nature/111.jpg " class="img-fluid " />
                        <a href="#! ">
                            <div class="mask " style="background-color: rgba(251, 251, 251, 0.15); "></div>
                        </a>
                    </div>
                    <div class="card-body ">
                        <h5 class="card-title ">Card title</h5>
                        <p class="card-text ">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                        </p>
                        <div class="d-flex justify-content-between align-items-center ">
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-info" data-toggle="button " aria-pressed="false " autocomplete="off ">
                                    Comprar
                                </button>
                            </div>
                            <small class="text-muted ">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>